/* RunningContent.module.css */
.runningContent {
    overflow: hidden;
    width: 100%;
  }
  
  .runningText {
    white-space: nowrap;
    animation: marquee 200s linear infinite;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-1000%);
    }
  }
  